*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* creating responsive layout for cards */
.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-row-gap: 1.2rem;
}

/* styling the image for each card */
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

/* adding a box shadow and hover transition to each card */
.card {
  transition: .2s ease-in-out;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  cursor: pointer;
}

/* tweaking bootstrap default focus borders */
.form-group .form-control:focus,
button#search:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}

button#all:focus {
  box-shadow: 0 0 0 0.1rem rgba(137, 196, 244, 1);
}

/* styling search button */
button#search {
  border-color: #ced4da;
  width: 5rem;
}

.form-group svg {
  font-size: 1.2em;
}


/* styling modal text */
.modal-body form,
.modal-body p {
  text-align: right;
}

.modal-body p {
  font-style: italic;
}

div.modal-body h5 {
  font-size: 0.9rem;
}

/* styling the fonts for the cards and modals */
.card,
.modal-title {
  font-family: 'Asap Condensed', sans-serif;
}

/* styling footer and navbar links */
nav a:link,
footer a:link {
  font-family: 'Asap', sans-serif;
}

footer a:link,
footer a:visited {
  color: #2a5aa7;
}

footer a:hover,
nav a:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* remove Bootstrap's default 'X' from the search field  */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
